.input-container {
    position: relative;
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
  }
  
  .coin-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
  }
  
  .coin-item img {
    margin-right: 10px;
  }
  
  .coin-details {
    display: flex;
    flex-direction: column;
  }
  
  .coin-name {
    font-weight: bold;
  }
  


  

  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 99%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #6e6eff;
  }
  
  