.dark-theme {
  background-color: #3d3d3d;
  color: #ffffff; 
    .coin-container {
        padding: 20px;
        background-color: #f6ad54; 
      }
  }
  
  .light-theme {
    background-color: #ffffff;
    color: #000000;  
    
  }
  .coin-container {
    padding: 20px;
    background-color: #c1fab8; 
  }

  .no-results {
    font-size: 1.5em; 
    color: #888; 
    margin-top: 20px;
    text-align: center; 
    margin: auto; 
    position: absolute; 
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }