.dark-theme {
    background-color: #333;
    .coin-container {
        padding: 20px;
        background-color: #e18617; 
      }
  }
  
  .light-theme {
    background-color: #fff;
    color: #333;    
    
  }
  .coin-container {
    padding: 20px;
    background-color: #d1f6cb; 
  }